
.card {
  margin: 50px auto;
  width: 22rem;
  text-align: center;
}

.card-body img{
max-width: 100%;
}
h5{
  text-align: center;
}
button{
  font-weight: 700;
  padding: 10px 20px;
  transition: all 0.3s ease;
   background-color: #007bff;
  color: #fff;
    margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}

.p{
  text-align: center;
  color: #6a85d1;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 900;
  width: fit-content;
  margin: 30px auto;
  transition: transform 0.3s ease,
  box-shadow 0.3s ease;

}
